#sideBarContainer {
    -fx-background-color:  #ffffff;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-spacing: 10px;
}
#sideBarContent {
    -fx-alignment: center;
}
.sideBarHeading {
    -fx-font-size: 16px;
    -fx-font-family: Poppins;
    -fx-font-weight: 700;
}
#downBar {
    -fx-background-color:  #ffffff;
    -fx-background-radius: 15px;
}
#searchBar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
}
.button {
    -fx-background-color: transparent;
}

#fileChooserContainer {
    -fx-padding: 10px;
    -fx-spacing: 20px;
    -fx-alignment: center-top;
    -fx-background-color: #ffffff;
}
#fileChooserContent {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}
#dragFileContainer {
    -fx-border-radius: 18px;
    -fx-border-width: 2px;
    -fx-border-color: #c2c2c2;
    -fx-border-style: dashed;
}
#fileChooserLabel {
    -fx-alignment: center;
    -fx-font-family: Poppins;
    -fx-font-size: 14px;
    -fx-text-fill: #4a4a4a;
}
.btn_container {
    -fx-background-color: #4a48ff;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.btn_content {
    -fx-spacing: 5px;
    -fx-alignment: center;
}
.btn_container:hover {
    -fx-background-color: #3a37f2;
}
.btn_text {
    -fx-font-family: Poppins;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.itemContainer {
    -fx-background-color: #edf4ff;
    -fx-background-radius: 10px;
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}
.itemName {
    -fx-font-family: Poppins;
    -fx-font-size: 12px;
    -fx-text-fill: #4a4a4a;
}
.itemIcon {
    -fx-alignment: center;
    -fx-background-radius: 5px;
    -fx-background-color: linear-gradient(to right, rgba(131,30,255,1) , rgba(212,52,255,1));
    -fx-padding: 5px;
}