#heroContainer {
    -fx-padding: 60px;
    -fx-alignment: center;
    -fx-spacing: 60px;
}
#heroContent {
    -fx-padding: 48px 5px 48px 5px;
    -fx-spacing: 14px;
    -fx-alignment: center;
}
.heroHeading {
    -fx-font-size: 42px;
    -fx-font-family: Poppins;
    -fx-font-weight: 700;
    -fx-text-fill: #26224a;
}
#subHeading {
    -fx-font-size: 16px;
    -fx-font-family: Poppins;
    -fx-fill: #424242;
}
#heroHeading2 {
    -fx-text-fill: linear-gradient(to right, rgba(74,72,255,1), rgba(157,10,255,1));
}

#start_btn_container {
    -fx-background-color: linear-gradient(to right,  rgba(62,63,255,1), rgba(109,65,255,1));
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
#start_btn_content {
    -fx-spacing: 5px;
    -fx-alignment: center;
}
#start_btn_container:hover {
    -fx-background-color: #5234ff;
}
#start_btn_text {
    -fx-font-family: Poppins;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}
.logoContainer {
    -fx-spacing: 5px;
    -fx-alignment: center-left;
}
.logoTitle {
    -fx-font-family: "Outfit Medium";
    -fx-font-size: 20px ;
}
#background {
    -fx-background-image: url("../images/bg.png");
}

